.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.content {
  border-top: 1px solid #eaeaea;
  background-color: #f7f7f7;
  flex: 1;
}

nav {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  padding: 4px;
}

nav li {
  display: flex;
  padding: 6px 0;
}

nav a,
nav button {
  font-size: 16px;
}
