.title {
  padding-top: 40px;
  font-size: 48px;
}

.title,
.description {
  text-align: center;
}
.card-row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  padding: 18px 18px 24px;
  width: 320px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #9b9b9b;
  background-color: #fff;
}
.card:hover {
  border-color: #5469d4;
}
.card h3 {
  margin: 0;
  color: #5469d4;
  font-size: 18px;
}
.card p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 16px;
}
.card img {
  width: 80%;
}
