body,
select {
  margin: 0;
  font-family: -apple-system, Helvetica, sans-serif;
  color: #333;
  font-size: 17px;
}

a,
button {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

a:visited {
  color: #333;
}

a:hover,
button:hover {
  color: #5469d4;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

select {
  display: inline-block;
  padding: 10px 40px 10px 10px;
  border-radius: 0;
  background-color: #fff;
  outline: none;
}

hr {
  border: none;
  background-color: #9b9b9b3d;
  height: 1px;
  width: 100%;
  margin-bottom: 25px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}
